<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="contracts_worksheet_name" value="Report" />
		<add key="contracts_start_row" value="4" />
		<add key="contracts_code_column" value="4" />
		<add key="contracts_name_column" value="5" />
		<add key="template_file_name" value="Расчет суммы иска.xlsx" />
		<add key="template_worksheet_name" value="Лист1" />
		<add key="template_cell_address" value="B4" />
		<add key="double_file_suffix" value="_дубль {0}" />
	</appSettings>
</configuration>